<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <!-- University Logos and Links -->
      <div class="footer-col footer-universities">
        <h2>Our Partners</h2>
        <a href="https://www.hsu-hh.de" target="_blank">
          <img src="{{ '/assets/images/LOGO_HSU.png' | relative_url }}" alt="Helmut-Schmidt-University" style="height: 110px; margin-right: 30px;">
        </a>
        <a href="https://www.cmat.uminho.pt/" target="_blank">
          <img src="{{ '/assets/images/LOGO_UM.png' | relative_url }}" alt="University of Minho" style="height: 110px;">
        </a>
      </div>
      <div class="footer-col footer-universities">
        <a href="https://www.fct.pt/" target="_blank">
          <img src="{{ '/assets/images/LOGO_FCT.png' | relative_url }}" alt="Fundação para a Ciência e Tecnologia, Portugal" style="height: 130px;">
        </a>
        <a href="https://www.portugal.gov.pt/pt/gc23" target="_blank">
          <img src="{{ '/assets/images/LOGO_TUGA.png' | relative_url }}" alt="República Portuguesa" style="height: 110px;">
        </a>
      </div>
      <div class="footer-col footer-universities">
        <p>The organisers acknowledge the funding by Fundação para a Ciência e Tecnologia (Portuguese Foundation for Science and Technology) through CMAT projects UIDB/00013/2020 and UIDP/00013/2020.</p>
        <p>This tutorial is financially supported by national funds through the FCT/MCTES (PIDDAC), under the project 2022.06672.PTDC - iMAD - Improving the Modelling of Anomalous Diffusion and Viscoelasticity: solutions to industrial problems, with DOI 10.54499/2022.06672.PTDC (<a href="https://doi.org/10.54499/2022.06672.PTDC">https://doi.org/10.54499/2022.06672.PTDC</a>).</p>
      </div>

      <!-- Disclaimer Section -->
      <div class="footer-col footer-disclaimer">
        <p><strong>Disclaimer:</strong> The content provided on this website is for informational purposes only. The organisers assume no responsibility for errors or omissions in the contents. External links are provided for convenience and the organisers are not responsible for the content of any linked sites. By using this site, you agree to do so at your own risk.</p>
      </div>

      <!-- Site Description -->
      <!--<div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>

      <!-- Legal Text -->
      <!--<div class="footer-col footer-legal">
        <h2>Legal</h2>
        <p>This website is hosted on GitHub Pages. The contents of this site, unless otherwise noted, are licensed under a <a href="LICENSE_URL" target="_blank">Creative Commons Attribution License</a>.</p>
        <p>Privacy Policy | Terms of Use</p>
      </div>-->
    </div>
  </div>
</footer>